@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');


*,*:before,*:after{
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    clear : both
}

:active,
:hover,
:focus{
    outline: 0 !important;
}

a,
a:hover {
    text-decoration : none !important;
}

a:hover {
    color : var(--primary-color) !important;
}


/* B.d. ul,ol have margin of 15 */
 ul,ol{
    margin: 0;
    padding: 0;
} 


:root{
    --primary-color: #AB2C48;
    --secondry-color : #43121d;
    --third-color : #f98169;
    --white-color : #fff;
    --black-color : #000;
    --text-color : #424242;

    --primary-font : 'Roboto', "sans-serif";
    --secondry-font : 'Quicksand', "sans-serif";
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: var(--primary-font);
    font-size : 100%;
    font-weight : 400;
}

/* 
========================================
        Custom Scrollbar
========================================
*/

/* "::-webkit" is used to change the things by default shown on webpage
Example : file upload button

when we need scrollbar inside div that time we use "class" or "id"

*/

::-webkit-scrollbar{
    width : 0.625rem;
}

/* background of scrollbar */
::-webkit-scrollbar-track{
     background : var(--white-color);
}

/* Scrollbar color */
::-webkit-scrollbar-thumb{
    background: var(--primary-color);
}

/* 
========================================
        Custom CSS
========================================
*/


#logo{
    width: 100px;
    height: 66px;
}

h1{
    font-size : 3rem;
    font-weight: 900;
    margin-bottom: 3rem;
    color: var(--secondry-color);
}

h2{
    font-size : 2.25rem;
    font-weight: 700;
    text-transform: capitalize;
    font-family: var(--secondry-font);
    color: var(--secondry-color);
    line-height : 3rem;
}

h4{
    text-transform: capitalize;
    font-family: var(--secondry-font);
    color: var(--secondry-color);
    font-size : 18px;
    font-weight: 800;
    margin-bottom:0.5rem;
}

h5{
    
    text-transform: capitalize;
    font-family: var(--secondry-font);
    color: var(--secondry-color);
    font-size: 1rem;
    font-weight: 700;
    line-height: 0.5rem;
}

p{
    color: var(--secondry-color);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.75rem;
    letter-spacing : 1px
}

.main-btn{
    display: inline-block;
    padding:  0.625rem 1.875rem;
    line-height: 1.5625rem;
    background-color: var(--primary-color);
    border : 0.1875rem solid var(--primary-color);
    color: var(--white-color);
    font-size: 0.9375rem;
    font-weight: 600;
    text-transform: capitalize;
    box-shadow: 0px 2px 10px -1px rgb(0 0 0 / 19%);
    -webkit-transition: all .4s ease-out 0s;
    -o-transition: all .4s ease-out 0s;
    -moz-transition: all .4s ease-out 0s;
    transition: all .4s ease-out 0s;
}


.white-btn{
    padding : 0.625rem 1.875rem;
    line-height : 25px;
    background-color: var(--white-color);
    border : 0.1875rem solid var(--white-color);
    color : var(--text-color);
    font-size : 0.9375rem;
    font-weight: 600;
    text-transform: capitalize;
    box-shadow: 0px 2px 10px -1px rgb(0 0 0 / 19%);
    -webkit-transition : all .4s ease-out 0s;
    -o-transition : all .4s ease-out 0s;
    -moz-transition: all .4s ease-out 0s;
    transition : all .4s ease-out 0s;
}


.main-btn:hover {
    background-color: transparent;
    color : var(--primary-color);
}

.white-btn:hover{
    background-color: transparent;
    color : var(--primary-color);
    border-color: var(--primary-color);
}

.wrapper{
    padding-top: 0.25rem;
    padding-bottom : 0.25rem;
}

.text-content{
    width : 70%;
    margin : auto;
}

.counter-section h2,
.testimonial-section h2,
.book-food-text h2{
    color : var(--white-color);
}




/* 
========================================
        Header Design
========================================
*/

/* Change Navbar styling on scroll */

.navigation-wrap{
    position : fixed;
    width: 100%;
    left:0;
    z-index : 1000;
    -webkit-transition : all 0.3s ease-out;
    transition : all 0.3s ease-out
}

.navigation-wrap .nav-item{
    padding: 0 0.625rem;
    transition: all 200ms linear;
}


.navbar-toggler:focus {
    /* hamburger button */
    outline: unset;
    border : unset;
    border: none;

}

/* Apply CSS on direcly the bootstrap class
Each anchor tag have nav-link class */
.nav-link{
    font-size : 0.9375rem;
    font-weight : 600;
    text-transform : capitalize;
    color : var(--primary-color);
    letter-spacing : 1px;
}

.navigation-wrap .main-btn{
    padding :0.3125rem 1.4375rem;
    box-shadow : none;
    margin-left : 0.625rem;

}


/*Change the navbar styling on scroll*/
.navigation-wrap.scroll-on{
    position : fixed;
    top : 0;
    left : 0;
    width : 100%;
    background : var(--white-color);
    box-shadow:  0 0.125rem 21.75rem 0 rgba(0,0,0,0.09);
/* if opacity is 0.9 then in navbar it shows more darker when scroll */

    transition: all .15s ease-in-out 0s;
}


/* 
========================================
        Top banner Design
========================================
*/

.top-banner{
    width : 100%;
    background : url("../images/bg/bg-1.jpg");
    background-size : cover;
    padding : 10.875rem 0 9.375rem 0 ;

}

/* 
========================================
        Counter Design
========================================
*/
.counter-section{
    background-color: var(--primary-color);
    padding: 2.5rem 0;
}


.counter-section p{
    color : var(--white-color);
    text-transform : uppercase;
}


/* 
========================================
        About Section Design
========================================
*/
.about-section{
    background: var(--white-color);
}

.about-section .card,
.about-section .card img{
    
}
